discord {
  applicationId: ""
  publicKey: ""
  token: ""
}
riot.api_key: "RGAPI-..."

// Prometheus configuration (optional)
prometheus {
  enabled: true
  host: "localhost"
  port: 8080
}

// Database configuration overrides (optional)
database {
  // Synchronize the missing tables and columns
  synchronize: true
  host: "<DB_HOST>"
  port: 5432
  name: "<DB_NAME>"
  user: "<DB_USER>"
  password: "<DB_PASSWORD>"
}

// Redis configuration
redis {
  nettyThread: 5
  host: "localhost"
  port: 6379
  pass: "your super secret password"
  db: 0
}

// Webhook url for event logs (optional)
webhook_url: "https://discord.com/api/webhooks/<ID>/<TOKEN>"

// Sentry DSN for error reports (optional)
sentry {
  dsn: "YOUR SENTRY DSN HERE"
}