# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Run checks

on:
  push:

jobs:
  check:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2.3.4
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
        architecture: x64
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Check with Gradle
      run: ./gradlew check
